<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                         http://www.springframework.org/schema/aop
                         http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                         http://www.springframework.org/schema/task
                         http://www.springframework.org/schema/task/spring-task-4.0.xsd">

    <task:annotation-driven executor="myExecutor" />
    <task:executor id="myExecutor" pool-size="5" />

    <aop:aspectj-autoproxy/>

    <import resource="springdaoconfig.xml" />
    <import resource="springjmsconfig.xml" />

    <bean id="timerAspect" class="com.geekcolab.development.bank.aspect.TimerAspect" />
    <bean id="loggerAspect" class="com.geekcolab.development.bank.aspect.LoggerAspect" >
        <property name="logger" ref="logger"/>
    </bean>

    <bean id="accountService" class="com.geekcolab.development.bank.service.AccountService" >
        <property name="accountDAO" ref="accountDAO"/>
        <property name="currencyConverter" ref="currencyConverter"/>
        <property name="jmsSender" ref="jmsSender"/>
        <property name="logger" ref="logger"/>
    </bean>

    <bean id="currencyConverter" class="com.geekcolab.development.bank.service.CurrencyConverter" />
    <bean id="logger" class="com.geekcolab.development.bank.logging.Logger" />


</beans>